.header {
  background-color: #26262b;
  height: auto;
  color: #04d804;
  padding: 5rem;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 7rem;
  line-height: 0;
}

.computerLogo {
  width: 7rem;
  height: 7rem;
}

.subTitle {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.title {
  color: #04d804;
  display: block;
  font-size: 3.5rem;
} 