.toolsContainer {
  background-color: #111111;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  gap: 0.5rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}