.aboutMeContainer {
  background-color: #2c2c31;
  height: auto;
  padding: 1rem;
}

.aboutMeSubContainer {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: 5rem auto;
;}

.mySelf {
  width: 11.5rem;
  box-shadow: 0 0 0.5rem #04d804;
  border-radius: 50%;
}

.subTitle, .aboutMeStory{
  color: #fff;

  span, a {
    color: #04d804;
  }
}

.aboutMeStory {
  line-height: 1.5rem;
  word-spacing: 0.2rem;
}

.storyContainer {
  width: 80%;
  margin-left: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    text-align: justify;
  }
}

@media screen and (min-width: 800px) {

  .mySelf {
    width: 13rem;
  }

  .storyContainer {
    width: 60%;
  }

}
